.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
    cursor: pointer;
} 
.sidebar-link{
    /* background-color: gray; */
    height: 73px;
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar-link:hover{
    background-color: rgb(234, 235, 235);
}

.sidebar-link img{
    height: 24px;
    margin-bottom: 4px;
}
.sidebar-link div{
    font-family: Roboto, Arial;
    font-size: 12px;
}

.top,.middle,.bottom{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(192, 188, 188);
}
